/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-abr-2018, 19:10:24
    Author     : Wero
*/

.root { -fx-focus-color: transparent; }

.btn-blue{
    -fx-background-color: #363E47;
}

.btn-blue:hover{
    -fx-background-color: #303841;
    -fx-cursor:hand;
}

.btn-green{
    -fx-background-color: #54D38A;
    -fx-cursor:hand;
}

.btn-green:hover{
    -fx-background-color: #48C17C;
}

.btn-red {
    -fx-background-color: #EE5243;
    -fx-cursor: hand;
}

.btn-red:hover {
    -fx-background-color: #f24736;
}

.btn-gray {
    -fx-background-color: #fff;
}

.btn-gray:hover{
    -fx-background-color: #F2F7F7;
}

.square {
    -fx-border-radius: 0 0 0 0; 
    -fx-background-radius: 0 0 0 0;
}

.close{
    -fx-background-color: #303841;
    -fx-border-radius: 0 0 0 0; 
    -fx-background-radius: 0 0 0 0;
}

.close:hover{
    -fx-background-color: #54D38A;
}

.sidebar{
    -fx-background-color: #303841;
}

.sidebar-btn{
    -fx-background-color: #303841;
    -fx-border-width: 0 0 0 3;
    -fx-border-color: transparent;
}

.sidebar-btn:hover{
    -fx-background-color: #363E47;
}

.sidebar-active{
    -fx-border-color: #54D38A;
    -fx-border-width: 0 0 0 3;
    -fx-background-color: #363E47;
}

.info{
    -fx-background-color: #363E47;
}

.main-container{
    -fx-background-color: #F2F7F7
}

.txtArea{
    -fx-background-color: #FFF;
    -fx-faint-focus-color: transparent;
}

.txtArea .content{
    -fx-background-color: #fff;
}


.splitPane{
    -fx-background-color: #363E47;
}

.splitPane .friends, .splitPane .groups{
    -fx-min-height: 128px;
}

.splitPane:vertical > .split-pane-divider {
   -fx-background-color: #303841;
}

.bg-blue > .viewport {
   -fx-background: transparent;
}

/* Listas de amigos */
.bg-blue {
    -fx-background: #363E47;
    -fx-border-color: #363E47;
}

.bg-gray > .viewport {
    -fx-background: transparent;
}

.bg-gray {
    -fx-background: #F2F7F7;
    -fx-border-color: #F2F7F7;
}

/* Estilos para Scroll-Bar del contenedor */
.green-scroll {
    -fx-faint-focus-color: transparent;
}
.green-scroll .increment-button, .green-scroll .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color:#363E47;
    -fx-cursor: hand;
}

.green-scroll .increment-arrow, .green-scroll .decrement-arrow {
    -fx-background-color: #F2F7F7;
}

.green-scroll .scroll-bar{
    -fx-fit-to-width: true;
}

.bg-blue .scroll-bar:vertical .thumb {
    -fx-background-color: #54D38A;
}

.green-scroll .scroll-bar:vertical .track {
    -fx-background-color: #363E47;
}

.green-scroll .scroll-bar:vertical{
    -fx-background-insets: 0, 0 1 0 1;
    -fx-background-color: #363E47;
}

/* Estilos para Scroll-Bar de conversación */
.blue-scroll {
    -fx-faint-focus-color: transparent;
}
.blue-scroll .increment-button, .blue-scroll .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color:#F2F7F7;
    -fx-cursor: hand;
}

.blue-scroll .increment-arrow, .blue-scroll .decrement-arrow {
    -fx-background-color: #363E47;
}

.blue-scroll .scroll-bar{
    -fx-fit-to-width: true;
}

.bg-gray .scroll-bar:vertical .thumb {
    -fx-background-color: #363E47;
    -fx-cursor: closed_hand;
}

.blue-scroll .scroll-bar:vertical .track {
    -fx-background-color: #F2F7F7;
}

.blue-scroll .scroll-bar:vertical{
    -fx-background-insets: 0, 0 1 0 1;
    -fx-background-color: #F2F7F7;
}

.group{
    -fx-background-color: #363E47;
}

.border-bottom {
    -fx-border-width: 0 0 2 0; 
    -fx-border-color: transparent transparent #F2F7F7 transparent;
}

.txtField:disabled, .txtField:disabled > * {
    -fx-opacity: 1.0 ;
}

/* Cuadros de mensajes del Chat */
.message-container {
    -fx-background-color: #F2F7F7;
    -fx-padding: 20 10 10 10;
    -fx-pref-width: 626;
}

.message-container .bubble-container.group-message {
    -fx-pref-height: 80;
}

.message-container .bubble-container .align-left {
    -fx-alignment: CENTER_LEFT;
}
.message-container .bubble-container .align-right{
    -fx-alignment: CENTER_RIGHT;
}

.message-container .bubble-container .align-right .by {
    -fx-alignment: CENTER_RIGHT;
}

.message-container .bubble-container {
    -fx-pref-height: 64px;
    -fx-padding: 0 0 5 10;
}

.message-container .bubble-container.left {
    -fx-alignment: CENTER_LEFT;
}

.message-container .bubble-container.right {
    -fx-alignment: CENTER_RIGHT;
}

.message-container .bubble-container.left .bubble {
    -fx-text-fill: #99A8B4;
    -fx-background-color: white;
    -fx-border-radius: 10 10 10 0; 
    -fx-background-radius: 10 10 10 0; 
}

.message-container .bubble-container.right .bubble {
    -fx-text-fill: white;
    -fx-background-color: #54D38A;
    -fx-border-radius: 10 10 0 10; 
    -fx-background-radius: 10 10 0 10; 
}

.message-container .bubble-container .bubble {
    -fx-font-family: "Lao UI";
    -fx-padding: 5 10 5 10;
    -fx-font-size: 12px;
    -fx-wrap-text: true;
    -fx-line-spacing: 5;
    -fx-max-width: 280;
    -fx-max-height: 60;
}

.message-container .bubble-container .by {
    -fx-font-family: "Lao UI";
    -fx-padding: 5 10 5 10;
    -fx-max-width: 280;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: #99A8B4;
}

.textField {
    -fx-background-color: #F2F7F7;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-border-width: 0 0 2 0;
    -fx-faint-focus-color: transparent;
}

.textField:focused {
    -fx-border-color: transparent transparent #54D38A transparent;
    -fx-faint-focus-color: transparent;
}

/* Contactos (Amigos y Grupos) */
.contact {
    -fx-pref-width: 292;
    -fx-min-width: 292;
    -fx-min-height: 60;
    -fx-pref-height: 60;
    -fx-background-color: #363E47;
    -fx-cursor: hand;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #363E47;
    -fx-alignment: CENTER_LEFT;
}

.contact:hover{
    -fx-border-color: #363E47;
    -fx-background-color: #363E47;
}

.contact .circle {
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-background-radius: 5em;
}

.contact .circle.online {
    -fx-background-color: #54D38A;
}
.contact .circle.offline {
    -fx-background-color: #F2F7F7;
}

.contact .icon {
    -fx-pref-width: 26;
    -fx-pref-height: 16;
    -fx-background-image: url("../Assets/friend.png"); 
    -fx-background-size: 16 16;
    -fx-background-repeat:no-repeat;
    -fx-background-position: right center;
    -fx-padding: 0 0 0 10;
}

.contact .btn {
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: #363E47;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-border-width: 0 0 2 0;
    -fx-faint-focus-color: transparent;
    -fx-font-family: "Lao UI";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #F2F7F7;
    -fx-min-width: 220px;
    -fx-border-radius: 0 0 0 0; 
    -fx-background-radius: 0 0 0 0;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #363E47;
}

.contact .btn:hover {
    -fx-border-color: #54D38A;
}

.contact .btn:disabled, .contact .btn:disabled > * {
    -fx-opacity: 1.0 ;
}

.check {
    -fx-pref-width: 615;
    -fx-min-width: 615;
    -fx-pref-height: 32;
    -fx-min-height: 32;
    -fx-padding: 10 10 10 10;
    -fx-font-family: "Lao UI";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #363E47;
    -fx-cursor: hand;
}

.check .box {
    -fx-background-color: #363E47;
}

.check:selected .mark {
    -fx-background-color: #54D38A;
}

.check:selected .box {
    -fx-background-color: #363E47;
}
.friend-container {
    -fx-pref-height: 48;
    -fx-pref-width: 450; 
    -fx-max-width: 450; 
    -fx-min-width: 450;
    -fx-alignment: CENTER_LEFT; 
}

.friend-container .name {
    -fx-pref-height: 64;
    -fx-pref-width: 360; 
    -fx-max-width: 360; 
    -fx-min-width: 360;
    -fx-padding: 0 10 0 20;
    -fx-font-family: "Lao UI";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #363E47;
}

.friend-container .btn-green {
    -fx-pref-height: 24;
    -fx-pref-width: 64; 
    -fx-max-width: 64; 
    -fx-min-width: 64;
    -fx-text-fill: #F2F7F7;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.friend-container .btn-gray {
    -fx-pref-height: 24;
    -fx-pref-width: 64; 
    -fx-max-width: 64; 
    -fx-min-width: 64;
    -fx-text-fill: #F2F7F7;
    -fx-font-size: 12px;
    -fx-background-color: #303841;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}